//main-viewはるちゃん









//wroksはるちゃん
#works {
  height: 640px;
  background-color: black;
   h2{
    padding: 40px ; 
    color: white;
    text-align: center;
    font-size: 55px;
  }
  h3 {
    color: white;
    text-align: center;
    font-size: 30px;
  }
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .galleries-contens {
    padding-top: 40px;
    display: flex;
    animation: loop-slide 30s infinite linear 1s both;
    .contens-item {
      text-align: center;
      padding: 50px;
    }
  }
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} 








//about-usゆうちゃん
#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  >h3 {
    color: skyblue;
    text-align: center;
    font-size: 6em;
    
  } 
  .text {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 23px;
    
  }
}








//contactすし

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  >h2 {
    color: $mainColor;
    z-index: 1;
    text-align: center;
    font-size: 6em;
  }
  .please-push {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .contact-btn {
    background-color: $mainColor;
    z-index: 1;
    font-size: 3em;
    width: $col3Width;
    text-align: center;
    margin: 0 auto;
    border-radius: 40px;
    >a {
      color: black;
    }
  }
  &:hover {
    .rotate-anime {
      animation: rotate-anime 0.7s ease 1;
    }
    @keyframes rotate-anime {
      0%  {transform: rotatex(0);}
      100%  {transform: rotatex(360deg);}
    }
  }
}









