//wroksはるちゃん
#works {
  height: 640px;
  background-color: black;
   h2{
    padding: 40px ; 
    color: white;
    text-align: center;
    font-size: $h2font;
  }
  h3 {
    color: white;
    text-align: center;
    font-size: 30px;
  }
  
    
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .galleries-contens {
    padding-top: 40px;
    display: flex;
    animation: loop-slide 30s infinite linear 1s both;
    @keyframes loop-slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
    .contens-item {
      text-align: center;
      padding: 50px;
    }
  }
}









//about-usゆうちゃん
#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  >h2 {
    color: skyblue;
    text-align: center;
    font-size: $h2font;;
    animation: blinkAnime 0.3s infinite alternate;
    
    @keyframes blinkAnime{
       0% { color: #7f007f }
      79% { color: #66ff66 }
     100% { color: #66ff66 }
    }
  } 
  
  .text {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 23px;
    
  }
}








//contactすし

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  >h2 {
    color: black;
    z-index: 1;
    text-align: center;
    font-size: $h2font;
  }
  .please-push {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .contact-btn {
    background-color: $mainColor;
    z-index: 1;
    font-size: 30px;
    width: $col3Width;
    text-align: center;
    margin: 0 auto;
    border-radius: 40px;
    border: 2px solid black;
    >a {
      color: black;
    }
  }
  &:hover {
    .rotate-anime {
      animation: rotate-anime 0.7s ease 1;
    }
    @keyframes rotate-anime {
      0%  {transform: rotatex(0);}
      100%  {transform: rotatex(360deg);}
    }
  }
}

.toppage {
  position: fixed;
  text-align: center;
  bottom: 5%;
  right: 5%;
  .rocket {
    width: 50px;
    height: 50px;
  }
  .toptext {
    font-size: 16px;
    color: $subColor;
  }
}




@include spOnly {
  .mainlogo {
    width: 335px;
    height: 168px;
  }
}
