//main-viewはるちゃん









//wroksはるちゃん









//about-usゆうちゃん









//contactすし

#contact {
  background-color: transparent;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  >h2 {
    color: $mainColor;
    z-index: 1;
    text-align: center;
    font-size: 6em;
  }
  .please-push {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .contact-btn {
    background-color: $mainColor;
    z-index: 1;
    font-size: 3em;
    width: $col3Width;
    text-align: center;
    margin: 0 auto;
    >a {
      color: black;
    }
  }
  &:hover {
    .rotate-anime {
      animation: rotate-anime 0.7s ease 1;
    }
    @keyframes rotate-anime {
      0%  {transform: rotatex(0);}
      100%  {transform: rotatex(360deg);}
    }
  }
}









