* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

main {
  background-color: transparent;
  z-index: 1;
}

@mixin pcOnly {
  @media screen and (min-width: 768px){
      @content;
  }
}
@mixin spOnly {
  @media screen and (max-width: 767px){
      @content;
  }
}

$english: 'Russo One', sans-serif;
$japanese: 'Noto Sans JP', sans-serif;
$mainColor:white;
$subColor: rgb(255,195,44);
$col3Width:100%/3;

h2 {
  padding: 40px ; 
  text-align: center;
  font-size: 70px;
  font-family: $english;
  animation: blinkAnime 0.3s infinite alternate;
    @keyframes blinkAnime{
    0% { color: #f8d887 }
    79% { color:  #ffc32c }
    100% { color: #ffc32c }
  }
}


//反映するのも
@import "mainview";
@import "header";
@import "main";
@import "footer";
@import "contact";
@import "check";
@import "thanks";