* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

main {
  background-color: transparent;
  z-index: 1;
}



$mainColor:white;
$col3Width:100%/3;



@mixin pcOnly {
  @media screen and (min-width: 768px){
      @content;
  }
}
@mixin spOnly {
  @media screen and (max-width: 767px){
      @content;
  }
}

















//反映するのも
@import "mainview";
@import "header";
@import "main";
@import "footer";