.thank {
  >h2{
    font-size: 70px;
    text-align: center;
    padding-bottom: 18px;
    letter-spacing: 20px;
    color: $subColor;
  }
  .thank-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .thank-text {
      text-align: center;
      font-size: 45px;
      padding: 15px 0;
      color: $subColor;
    }
  }
}

.back-btn {
  text-align: center;
  > a {
    font-size: 30px;
    color: $subColor;
  }
}

@include spOnly {
  .thank {
    >h2{
      font-size: 35px;
      padding-bottom: 18px;
      letter-spacing: 10px;
    }
    .thank-box{
      .thank-text {
        font-size: 25px;
      }
    }
  }
  
  .back-btn {
    > a {
      font-size: 15px;
    }
  }
}