* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

.stars {
  background: #333 url(../images/body-backgroundimg.jpg) repeat top center;
  z-index: -5;
}

.twinkling {
  background: transparent url(../images/twinkling.png) repeat top center;
  z-index: -4;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(../images/clouds.png) repeat top center;
  z-index: -2;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

header .menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

header .menu > ul a {
  color: white;
}

#contact {
  background-color: transparent;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contact > h2 {
  color: white;
  z-index: 1;
  text-align: center;
  font-size: 6em;
}

#contact .please-push {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contact .contact-btn {
  background-color: white;
  z-index: 1;
  font-size: 50px;
  width: 33.33333%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 40px;
  -webkit-box-shadow: 0 10px 15px black;
          box-shadow: 0 10px 15px black;
}

#contact .contact-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact .contact-btn > a {
  color: black;
}

#contact:hover .rotate-anime {
  -webkit-animation: rotate-anime 0.7s ease 1;
          animation: rotate-anime 0.7s ease 1;
}

@-webkit-keyframes rotate-anime {
  0% {
    -webkit-transform: rotatex(0);
            transform: rotatex(0);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}

@keyframes rotate-anime {
  0% {
    -webkit-transform: rotatex(0);
            transform: rotatex(0);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}
/*# sourceMappingURL=style.css.map */