* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  background-color: transparent;
  z-index: 1;
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

.stars {
  background: #333 url(../images/body-backgroundimg.jpg) repeat top center;
  background-attachment: fixed;
  border-radius: 0% 0% 50% 50%;
  z-index: -5;
}

.twinkling {
  background: transparent url(../images/twinkling.png) repeat top center;
  background-attachment: fixed;
  border-radius: 0% 0% 50% 50%;
  z-index: -4;
  -webkit-animation: move-twink-back 200s linear infinite;
          animation: move-twink-back 200s linear infinite;
  -webkit-filter: drop-shadow(0 0 150px black);
          filter: drop-shadow(0 0 150px black);
}

.clouds {
  background: transparent url(../images/clouds.png) repeat top center;
  background-attachment: fixed;
  border-radius: 0% 0% 50% 50%;
  z-index: -2;
  -webkit-animation: move-clouds-back 200s linear infinite;
          animation: move-clouds-back 200s linear infinite;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

header .menu > li > a {
  color: white;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 100px;
  }
  header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 90vh;
    background: white;
    opacity: 0.7;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  header .menu.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .menu > li {
    margin: auto 0;
  }
  header .menu > li > a {
    color: black;
  }
  header .btn-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    cursor: pointer;
    top: 30px;
    left: 30px;
  }
  header .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  header .btn-trigger, header .btn-trigger span {
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  header .btn-trigger span:nth-of-type(2) {
    top: 20px;
  }
  header .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header #btn17::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    width: 84px;
    height: 84px;
    margin: -45px 0 0 -45px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0);
    -webkit-transition: all .75s;
    transition: all .75s;
  }
  header #btn17.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
  }
  header #btn17.active span:nth-of-type(2) {
    left: 60%;
    opacity: 0;
    -webkit-animation: active-btn17-bar02 .8s forwards;
            animation: active-btn17-bar02 .8s forwards;
  }
  @-webkit-keyframes active-btn17-bar02 {
    100% {
      height: 0;
    }
  }
  @keyframes active-btn17-bar02 {
    100% {
      height: 0;
    }
  }
  header #btn17.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(-45deg);
    transform: translateY(-20px) rotate(-45deg);
  }
  header #btn17.active::after {
    border: 4px solid #fff;
  }
}

.main-view {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main-view .mainlogo {
  -webkit-animation: flash 2s linear infinite;
          animation: flash 2s linear infinite;
}

@-webkit-keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.main-view .logo1 {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-animation: logo1 3s linear infinite;
          animation: logo1 3s linear infinite;
}

@-webkit-keyframes logo1 {
  0% {
    top: 50%;
    right: 50%;
  }
  25% {
    top: 25%;
    right: 25%;
  }
  50% {
    top: 25%;
    right: 40%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  75% {
    top: 25%;
    right: 40%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  100% {
    top: 25%;
    right: 40%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    opacity: 0;
  }
}

@keyframes logo1 {
  0% {
    top: 50%;
    right: 50%;
  }
  25% {
    top: 25%;
    right: 25%;
  }
  50% {
    top: 25%;
    right: 40%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  75% {
    top: 25%;
    right: 40%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  100% {
    top: 25%;
    right: 40%;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    opacity: 0;
  }
}

.main-view .logo2 {
  position: absolute;
  top: 2%;
  left: 2%;
  -webkit-animation: logo2 3s linear infinite;
          animation: logo2 3s linear infinite;
}

@-webkit-keyframes logo2 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 2%;
    left: 2%;
  }
  25% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    top: -4%;
    left: -4%;
  }
  50% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: -8%;
    left: 4%;
  }
  75% {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    top: -12%;
    left: -4%;
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: -18%;
    left: 4%;
  }
}

@keyframes logo2 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 2%;
    left: 2%;
  }
  25% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    top: -4%;
    left: -4%;
  }
  50% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: -8%;
    left: 4%;
  }
  75% {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    top: -12%;
    left: -4%;
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: -18%;
    left: 4%;
  }
}

.main-view .logo3 {
  position: absolute;
  top: 25%;
  right: 5%;
  -webkit-animation: logo3 3s linear infinite;
          animation: logo3 3s linear infinite;
}

@-webkit-keyframes logo3 {
  0% {
    top: 25%;
    right: 5%;
  }
  25% {
    top: 25%;
    right: 25%;
  }
  50% {
    top: 20%;
    right: 20%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  75% {
    top: 20%;
    right: 20%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    top: 20%;
    right: 20%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    opacity: 0;
  }
}

@keyframes logo3 {
  0% {
    top: 25%;
    right: 5%;
  }
  25% {
    top: 25%;
    right: 25%;
  }
  50% {
    top: 20%;
    right: 20%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  75% {
    top: 20%;
    right: 20%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  100% {
    top: 20%;
    right: 20%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    opacity: 0;
  }
}

.main-view .logo4 {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-animation: logo4 1s linear infinite;
          animation: logo4 1s linear infinite;
}

@-webkit-keyframes logo4 {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes logo4 {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.main-view .logo5 {
  position: absolute;
  top: 0;
  right: 5%;
  -webkit-animation: logo5 3s linear infinite;
          animation: logo5 3s linear infinite;
}

@-webkit-keyframes logo5 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes logo5 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.main-view .logo6 {
  position: absolute;
  top: 17%;
  right: 25%;
  width: 0;
  height: 0;
  -webkit-animation: logo6 3s linear infinite;
          animation: logo6 3s linear infinite;
}

@-webkit-keyframes logo6 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    width: 256px;
    height: 256px;
    top: 15%;
    right: 25%;
    opacity: 1;
  }
  75% {
    width: 256px;
    height: 256px;
    top: 15%;
    right: 25%;
    opacity: 1;
  }
  100% {
    width: 256px;
    height: 256px;
    top: 15%;
    right: 25%;
    opacity: 0;
  }
}

@keyframes logo6 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    width: 256px;
    height: 256px;
    top: 15%;
    right: 25%;
    opacity: 1;
  }
  75% {
    width: 256px;
    height: 256px;
    top: 15%;
    right: 25%;
    opacity: 1;
  }
  100% {
    width: 256px;
    height: 256px;
    top: 15%;
    right: 25%;
    opacity: 0;
  }
}

.main-view .logo7 {
  position: absolute;
  top: 30%;
  right: 70%;
  -webkit-animation: logo7 3s linear infinite;
          animation: logo7 3s linear infinite;
}

@-webkit-keyframes logo7 {
  0% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  50% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  75% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  100% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes logo7 {
  0% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
  }
  50% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  75% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  100% {
    top: 30%;
    right: 70%;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

.main-view .logo8 {
  position: absolute;
  top: 45%;
  right: 73%;
  -webkit-animation: logo8 3s linear infinite;
          animation: logo8 3s linear infinite;
}

@-webkit-keyframes logo8 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 42%;
  }
  25% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
    top: 40%;
  }
  50% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 42%;
  }
  75% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
    top: 45%;
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 42%;
  }
}

@keyframes logo8 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 42%;
  }
  25% {
    -webkit-transform: rotateZ(-25deg);
            transform: rotateZ(-25deg);
    top: 40%;
  }
  50% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 42%;
  }
  75% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
    top: 45%;
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    top: 42%;
  }
}

.main-view .logo9 {
  position: absolute;
  top: 50%;
  right: 73%;
  -webkit-animation: logo9 1s linear infinite;
          animation: logo9 1s linear infinite;
}

@-webkit-keyframes logo9 {
  0% {
    right: 73%;
  }
  25% {
    right: 75%;
  }
  50% {
    right: 73%;
  }
  75% {
    right: 71%;
  }
  100% {
    right: 73%;
  }
}

@keyframes logo9 {
  0% {
    right: 73%;
  }
  25% {
    right: 75%;
  }
  50% {
    right: 73%;
  }
  75% {
    right: 71%;
  }
  100% {
    right: 73%;
  }
}

.main-view .scroll {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  animation: scroll 4s linear infinite reverse;
}

@-webkit-keyframes scroll {
  0% {
    width: 10%;
    height: 10%;
  }
  50% {
    width: 20%;
    height: 20%;
  }
  100% {
    width: 10%;
    height: 10%;
  }
}

@keyframes scroll {
  0% {
    width: 10%;
    height: 10%;
  }
  50% {
    width: 20%;
    height: 20%;
  }
  100% {
    width: 10%;
    height: 10%;
  }
}

.main-view .scrolltext {
  font-size: 2em;
  color: #f5c32c;
}

.main-view .scrolllogo {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#works {
  height: 640px;
}

#works h2 {
  padding: 40px;
  color: white;
  text-align: center;
  font-size: 55px;
}

#works h3 {
  color: white;
  text-align: center;
  font-size: 30px;
}

#works .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#works .galleries-contens {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: loop-slide 30s infinite linear 1s both;
          animation: loop-slide 30s infinite linear 1s both;
}

#works .galleries-contens .contens-item {
  text-align: center;
  padding: 50px;
}

@-webkit-keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

#about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#about-us > h3 {
  color: skyblue;
  text-align: center;
  font-size: 6em;
}

#about-us .text {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 23px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contact > h2 {
  color: black;
  z-index: 1;
  text-align: center;
  font-size: 6em;
}

#contact .please-push {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contact .contact-btn {
  background-color: white;
  z-index: 1;
  font-size: 3em;
  width: 33.33333%;
  text-align: center;
  margin: 0 auto;
  border-radius: 40px;
  border: 2px solid black;
}

#contact .contact-btn > a {
  color: black;
}

#contact:hover .rotate-anime {
  -webkit-animation: rotate-anime 0.7s ease 1;
          animation: rotate-anime 0.7s ease 1;
}

@-webkit-keyframes rotate-anime {
  0% {
    -webkit-transform: rotatex(0);
            transform: rotatex(0);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}

@keyframes rotate-anime {
  0% {
    -webkit-transform: rotatex(0);
            transform: rotatex(0);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}

.toppage {
  position: fixed;
  text-align: center;
  bottom: 5%;
  right: 5%;
}

.toppage .rocket {
  width: 50px;
  height: 50px;
}

.toppage .toptext {
  font-size: 1em;
}

@media screen and (max-width: 767px) {
  .mainlogo {
    width: 335px;
    height: 168px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  background-color: navy;
  color: white;
}
/*# sourceMappingURL=style.css.map */